/* style.css */

/*media query for mobile */



body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 1rem;
    background: #f6f8fa;
    color: #333;
}



main {
    max-width:830px;
    margin: auto;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


h1,h2 {
    text-align: center;
    color: #2c3e50;
}

form {
    display: grid;    
    gap: 1rem;
    margin-bottom: 1rem;
}

form label {
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}   

form input[type="number"]
 {
  padding: 0.5rem;
  border: 1px solid #ccc;  
  border-radius: 6px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}



form button {
  padding: 0.75rem;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  max-width: 100%;
  width: 100%;
}

form button:hover {
  background: #005f99;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}



td, th {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #ddd;
}


th {
    background: #007acc;
    font-weight: bold;
    color: white;
}

.delete-btn, .edit-btn  {
    padding: 0.2rem 0.2rem;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.export-button {
    padding: 0.2rem 0.2rem;
    background: #014b17;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.export-button:hover {
    background: #09e04a;
}

.custom-file-input{
    display: none;
}

.custom-file-input-label {
    display: inline-block;
    padding: 0.2rem 0.2rem;
    background: #014b17;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.custom-file-input-label:hover {
    background: #09e04a;
}

/* input[type="file"] {
    display: flex;
    padding: 0.2rem 0.2rem;
    background: #014b17;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
} */


tbody tr:nth-child(even) {
    background: #f2f2f2;
}   

.paginator-section {
    text-align: center;
    margin-top: 1rem;
}

.paginator-text {
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.paginator-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.paginator-btn:disabled:hover {
    background: #ccc;
}

.paginator-btn{
    padding: 0.25rem 0.25rem;
    margin: 0 0.25rem;
    background: #007acc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer; 
}

.paginator-btn:hover {
    background: #01253b;
}   

.paginator-settings {
    margin-top: 1rem;
    text-align: center;
}
.paginator-settings label {
    font-weight: bold;
    margin-right: 0.5rem;
}
.paginator-settings select {
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}


nav {
    background: #014775;
    padding: 0.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    width: 99%;
    display:inline-flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    max-width: 80%;
    width: 80%;
}

nav ul li {
    position: relative;
}   

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    display: block;
}   

nav a:hover {
    background: #489dd6;
    border-radius: 4px ;
}

nav .menu-btn-mobile {
    display:none;  
    
}

.dropdown-content {
  display: none;  
  position: absolute;
  top: 100%;
  left: 0;
  background: #007acc;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 120px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);  
}

.dropdown-content li a  {
    padding: 0.5rem;
    font-weight: normal;   
    color: white;
}

.dropdown-content li a:hover {
    background: #005f99;
}       

.dropdown:hover .dropdown-content {
    display: block;
}



.footer-text-paragraph {
    text-align: center;
    margin-top: 2rem;
    color: #666;
    font-size: 0.9rem;
}

.m-active {
    background: #005f99;
}

@media screen and (max-width: 768px){

    nav {
        max-width: 95%;
        width: 95%;
        
    }    

    nav ul {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }

    nav .menu-btn-mobile {
        display: inline-block;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        max-width: 20%;
        width: 20%;
        text-align: center;
        padding-right: 0.5rem;
        margin-left: auto;
    
    }

    nav .menu-btn-mobile:hover {
        color: #489dd6;
    }   

    #energyChart {
        max-width: 100%;
        height: auto;
    }   

    table thead{
        display: none;
    }

    table, table tbody, table tr, table td {
        display: block;
        
    }

    table tr {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        padding: 0.5rem;
        border-radius: 6px;
    }

    table td {
        text-align: right;
        padding-left: 10%;
        position: relative;
        font-size: 0.95rem;
    }

    table td button {
        margin-top: 0.2rem;
        width: 100%;
        max-width: 100%;
        
    }

    table td::before {
        
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.5rem;
        font-weight: bold;
        text-align: left;

    }

    td:nth-of-type(1):before { content: "Month"; font-size: 0.8em; }
    td:nth-of-type(2):before { content: "Date"; font-size: 0.8em;}
    td:nth-of-type(3):before { content: "Time"; font-size: 0.8em;}
    td:nth-of-type(4):before { content: "Present Energy"; font-size: 0.8em;}
    td:nth-of-type(5):before { content: "Last Month Energy"; font-size: 0.8em;}
    td:nth-of-type(6):before { content: "Delta"; font-size: 0.8em;}
    td:nth-of-type(7):before { content: "Rate"; font-size: 0.8em;}
    td:nth-of-type(8):before { content: "Cost"; font-size: 0.8em;}
}

